<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask + Firebase + Cloud RUN = Fire</title>
    </head>
    <body>
        <form action="/test" method="POST">
            <b>何歳ですか？</b>
            <input type="text" id="age" name="age" required>
            <b>趣味は？</b>
            <input type="text" id="hobby" name="hobby" required>
            <button type="submit">送信</button>
        </form>
    </body>
</html>